body {
  font-family: 'Noto Sans', sans-serif;
}

h1, #chip8-wrapper button {
  font-family: 'Press Start 2P', cursive;
}

a {
  color: #0277bd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-center, h1, #chip8-wrapper {
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

#chip8-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 1.5em;
  margin: 1.5em 0;
}

#chip8-options, #chip8-keyboard button, #chip8-canvas {
  border: 0.25em solid #000;
  border-radius: 0.25em;
  background-color: #fff;
}

#chip8-options {
  width: 100%;
  height: 5em;
}

#chip8-canvas {
  width: 100%;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

#chip8-keyboard {
  display: grid;
  grid-template-rows: repeat(4, 3em);
  grid-template-columns: repeat(4, 3em);
  grid-gap: 0.75em;
}

#chip8-keyboard button {
  position: relative;
  box-shadow: 2px 2px;
}

#chip8-keyboard button:hover {
  cursor: pointer;
}

#chip8-keyboard button:active {
  top: 1px;
  left: 1px;
  box-shadow: 1px 1px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  #chip8-wrapper {
    grid-template-columns: 2fr 1fr;
  }

  #chip8-options {
    grid-area: 1 / 1 / 2 / 3;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  #chip8-wrapper {
    grid-template-columns: auto 2fr auto;
  }

  #chip8-options {
    width: 13.75em;
    height: 13.75em;
    grid-column-end: 2;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
