body {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#chip8-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 1em;
}

#chip8-canvas {
  width: 100%;
  border: 0.25em solid #000;
  border-radius: 0.25em;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

#chip8-controls {
  display: grid;
  grid-template-rows: repeat(4, 3em);
  grid-template-columns: repeat(4, 3em);
  grid-gap: 0.75em;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  #chip8-wrapper {
    grid-template-columns: auto 2fr 1fr;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
